body{
  padding: 0px;
  margin: 0px;
  background-color: #331D2C;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
header{
  display: flex;
  justify-content: center;
  height: 10rem;
  align-items: center;
}
.navigation{
  font-weight: 300;
  height: clamp(4.48rem, 10vh, 7.8rem);
  width: clamp(26.875rem, 65vw, 47rem);
  background-color: #3F2E3E;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  font-size: 2.1rem;
  border-radius: 16px;
}

.navigation img{
  width: clamp(4.48rem, 10vh, 7.8rem);
}
.textButtons{
  width: clamp(9rem, 40%, 15rem);
  display: inline-flex;
  justify-content: space-evenly;
  color: #A78295;
}
.chatButton{
  color: #3F2E3E;
  width: clamp(8rem, 20vw, 12rem);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #A78295;
  border-radius: 10px;
  height: 65%;
}

.titleText{
  width: 90vw;
  font-weight: 400;
  font-size: 8rem;
  color: #A78295;
  text-align: center;
  margin-top: 5rem;
}

.description{
  box-sizing: border-box;
  border: solid 1mm black;
  width: 90vw;
  padding: 0 3rem 0;
  font-weight: 300;
  font-size: 2.2rem;
  text-align: center;
  color: #A78295;
}
